$font-family: 'Poppins';
$blue: #1362fc;
$white: #fff;
$grey: #fcfcfc;
$grey2: #bfbfbf;
$grey3: #969ba0;
$grey4: #2e2e2e;
$grey5: #707070;
$grey6: #999;
$black: #0f0f0f;
$black3: #000;
$black2: #262626;
$black4: rgba(0, 0, 0, 0.5);
$red: red;
